@using project_1.Models
@model IEnumerable<Category>

@{
    ViewBag.Title = "Агрострой - Купить садовые и строительные инструменты и материалы в Харькове по низкой цене";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="general-wrapper">
    <div class="container">
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="thumbnail">
                        <img alt="@category.Name" class="category-image" src="../Images/@category.ImageName" />
                        <div class="caption">
                            <h4>
                                @Html.ActionLink(category.Name, "Category", new { categoryId = category.Id }, new {@class = "ghost-button"})
                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>






