@using project_1.Models
@model List<Product>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="general-wrapper">
    <div class="container">
        <img class="category-image center-block" src="~/Images/@ViewBag.ImageName" style="height:75%; width:75%; margin-top:20px;" />
        <h1 class="text-center">@ViewBag.Name:</h1>
        <p class="text-justify">
            @ViewBag.Description
        </p>
        <h1 class="text-center">Товары категории:</h1>
        @foreach (var product in Model)
            {
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="thumbnail">
                    <img class="category-image" src="~/Images/@product.ImageName" />
                    <div class="caption">
                        <h4>
                            @Html.ActionLink(product.Name, "Product", new { productId = product.Id }, new { @class = "ghost-button" })
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
    



