
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="general-wrapper">
    <div class="container">
        <h3>Режим работы интернет магазина:</h3>
        <h5>Пн-Пт с 8:00 до 19:00</h5>
        <h5>Сб с 9:00 до 18:00</h5>
        <h3>Оформить и принять заказ, а также проконсультироваться по другим вопросам можно по номеру:</h3>
        <h5>Kyivstar (096)1111111</h5>
        <h5>МТС (050)0000000</h5>
        <h3>А также по электронной почте:</h3>
        <h5>agro@Agro.Agro</h5>
    </div>
</div>



