
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="general-wrapper">
    <div class="container text-center">
        <img height="100" width="100" src="~/Images/schedule.png" />
        <h1>Режим работы интернет магазина:</h1>
        <h3>Пн-Пт с 8:00 до 19:00</h3>
        <h3>Сб с 9:00 до 18:00</h3>
    </div>
</div>

<div class="body-wrapper">
    <div class="container text-center delivery">
        <img height="100" width="100" src="~/Images/phone.png" />
        <h1>Оформить и принять заказ, а также проконсультироваться по другим вопросам можно по номеру:</h1>
        <h3>Kyivstar (096)1111111</h3>
        <h3>МТС (050)0000000</h3>
    </div>
</div>

<div class="body-wrapper">
    <div class="container text-center delivery">
        <img height="100" width="100" src="~/Images/email.png" />
        <h1>А также по электронной почте:</h1>
        <h3>agro@Agro.Agro</h3>
    </div>
</div>

