
@{
    ViewBag.Title = "Доставка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="general-wrapper">
    <div class="container text-center">
        <img height="100" width="100" src="~/Images/integrity.png" />
        <h1>Минимальный заказ 100грн</h1>
        <h3>Комплексность и целосность</h3>
        <p>Уважаемые покупатели! При получении товара необходимо проверять его <strong>целостность у перевозчика</strong>. Как только товар покинет офис почтовой компании решить вопросы его целостности и комплексности будет трудной задачей. При возникновении проблем с почтовыми перевозчиками настоятельно просим Вас обратиться к нам, не покидая офис компании, и мы сразу уладим все возникшие вопросы.</p>
    </div>
</div>

<div class="body-wrapper">
    <div class="container text-center delivery">
        <img height="100" width="100" src="~/Images/shipping.png" />
        <h1>Способы доставки:</h1>
        <h3>Нова Пошта ( самый быстрый перевозчик, от 1-2 дня срок доставки )</h3>
        <p>Стоимость доставки (по тарифам Новой пошты) + Стоимость обратной доставки денег (<strong>20грн + 2% от суммы</strong>) оплачивает покупатель.</p>
        <p>Также возможны другие способы доставки такими службами, как <strong>Деливери</strong> и <strong>Интайм</strong></p>
    </div>
</div>

<div class="body-wrapper">
    <div class="container text-center delivery">
        <img height="100" width="100" src="~/Images/cards.gif" />
        <h1>Способы оплаты:</h1>
        <h3>Наложенный платеж</h3>
        <p>Наложенный платёж оплачивается при получении товара у транспортной компании. За обратную доставку денег транспортные компании берут <strong>20грн + 2% от суммы</strong>.</p>
        <h3>Оплата на официальный карточный счёт в ПриватБанке</h3>
        <p>Оплата на карточный счёт предприятия в ПриватБанке. Можно оплатить в любом отделении ПриватБанка, через Приват24 или через банкоматы и терминалы ПриватБанка. Реквизиты для оплаты отправляем СМС-сообщением. Отправка товара - после предоплаты заказа.</p>
    </div>
</div>



