
@{
    ViewBag.Title = "Доставка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="general-wrapper">
    <div class="container">
        <div class="row">
            <div class="delivery-text col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1>МИНИМАЛЬНЫЙ заказ 100грн</h1>
                <h3>КОМПЛЕКТНОСТЬ И ЦЕЛОСТНОСТЬ:</h3>
                <p>Уважаемые покупатели! При получении товара необходимо проверять его целостность у перевозчика. Как только товар покинет офис почтовой компании решить вопросы его целостности и комплексности будет трудной задачей. При возникновении проблем с почтовыми перевозчиками настоятельно просим Вас обратиться к нам, не покидая офис компании, и мы сразу уладим все возникшие вопросы.</p>
            </div>
            <div class="delivery-image col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img height="316" width="316" class="category-image" src="~/Images/del_2.png" />
            </div>
            <div class="delivery-image col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img height="316" width="316" class="category-image" src="~/Images/del_1.jpg" />
            </div>
            <div class="delivery-text col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1>Способы доставки</h1>
                <h3>НОВА ПОШТА ( самый быстрый перевозчик, от 1-2 дня срок доставки )</h3>
                <p>Стоимость доставки (по тарифам Новой пошты) + Стоимость обратной доставки денег (2% от суммы+20грн) оплачивает покупатель.</p>
                <p>Также возможны другие способы доставки такими службами, как Деливери и Интайм</p>
                <h1>Способы оплаты:</h1>
                
                <h3>Наложенный платеж</h3>
                <p>Наложенный платёж оплачивается при получении товара у транспортной компании. За обратную доставку денег транспортные компании берут 20грн + 2% от суммы.</p>
                <h3>Оплата на официальный карточный счёт в Приватбанке</h3>
                <p>Оплата на карточный счёт предприятия в Приватбанке. Можно оплатить в любом отделении Приватбанка, через Приват24 или через банкоматы и терминалы Приватбанка. Реквизиты для оплаты отправляем СМС-сообщением. Отправка товара - после предоплаты заказа.</p>
            </div>
        </div>    
    </div>
</div>



